@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Nunito&display=swap');

:root{
    --barcolor: #ffffff;
    --textcolor: #231f20;
    --shadow: #d2d3d4;
    --bgdcolor: #faf1e8;
    --homecolor: #e7dfd8;
    --textshadow: #e9e9e9cc;
    --visited: #7a687f;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-size: 1rem;
}



body{
    background-color: #e7dfd8;
}


header a:hover{
    background-color: var(--shadow);
    text-decoration-line: underline;
}

header{
    background-color: var(--barcolor);
    z-index: 100;
}

.container{
    height: 5rem;
    position: fixed;
    width: 100%;
    background-color: var(--barcolor);
}


h3{
    float: left;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: Josefin Sans;
    font-size: 1.3rem;
}


nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}


nav ul li{
    display: flex;
    align-items: center;

}

nav a{
    color: var(--textcolor);
    font-weight: bold;
    margin-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 1.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.3s ease 0s;
}








  
.dropdown-content {
    display: none;
    position: absolute;
    right: 2rem;
    margin-top: 4rem;
    z-index: 202;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.show {
    display: block;
    opacity: 1;
}

#menu{
    position: fixed;
    right: 2rem;
    background: #584734;
    color: #fff;
    font-size: 1.7rem;
    padding: 1rem 1.3rem;
    z-index: 201;
    display: none;
    margin-top: 0.65rem;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}







/*MAIN STARTS HERE*/

main{
    color: #000000;
}

section{
    height: fit-content;
    min-height: 100vh;
    padding-top: 5rem;
}

.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.word{
    margin: 30vh 0;
    margin-right: 5vw;
}


.home h2{
    font-size: 2.3rem;
}

.home h1{
    font-size: 4.7rem;
}

.home h1 span{
    font-size: 4.9rem;
    text-decoration: underline;
}

.home p{
    font-size: 2rem;
    padding: 1rem 0;
}

.btn{
    padding: 0.7rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding-left: 1.2rem;
    font-size: 1.8rem;
}

.btn:hover{
    background-color: var(--shadow);
    cursor: pointer;
}

.home a{
    width: 282px;
}

.home img {
    width: 100%;
    max-width: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin: 2vw 4vw;
}



#about{
    background-color: var(--bgdcolor);
}

#about div{
    margin: 5rem 5rem;
}

#about .paragraph{
    padding-bottom: 6rem;
}

#about div p{
    text-indent: 2.5em;
    line-height: 1.5;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

#about a{
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    text-decoration: underline;
}

#about a:hover{
    color: inherit;
    background-color: var(--textshadow);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

#about a:visited{
    font-style: italic;       /*Not working*/
    color: var(--visited);
}



#experience{
    background-color: var(--homecolor);
    height: 100vh;
}


#contact{
    background-color: #e9e9e9;
    height: 100vh;
}















@media (max-width: 1000px) {
    #menu{
        display: block;
    }
    nav{
        display: none;
    }
    .home h2{
        font-size: calc(0.87 * 2.3rem);
    }
    .home h1{
        font-size: calc(0.87 * 4.7rem);
    }
    .home h1 div{
        font-size: calc(0.87 * 4.9rem);
    }
    .home p{
        font-size: calc(0.87 * 2rem);
    }
    .home a{
        width: calc(0.95 * 282px);
    }
    .btn{
        font-size: calc(0.87 * 2rem);
    }
    .btn i{
        font-size: calc(0.87 * 1.8rem);
    }
}


@media (max-width: 1250px){
    nav ul{
        gap: 0.3rem;
    }
    #about div{
        margin: 3rem 5rem;
    }
    #about div p{
        font-size: 1.1rem;
    }

}
