@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Dosis&family=Josefin+Sans:wght@200&family=Karla:ital@1&family=Nunito&family=Raleway&family=Slackside+One&family=Tsukimi+Rounded&display=swap');

:root{
    --barcolor: #ffffff;
    --textcolor: #231f20;
    --shadow: #d2d3d4;
    --bgdcolor: #faf1e8;
    --homecolor: #e7dfd8;
    --textshadow: #e9e9e9cc;
    --visited: #7a687f;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    max-width: 100vw;
    font-size: 1rem;
}


body{
    background-color: #e7dfd8;
}


.header{
    background-color: var(--barcolor);
}

.header a:hover{
    background-color: var(--shadow);
    text-decoration-line: underline;
}


.container{
    height: 5rem;
    position: fixed;
    width: 100%;
    background-color: var(--barcolor);
    z-index: 1000;
}


.title{
    float: left;
    margin-top: 2rem;
    margin-left: 2rem;
    font-family: 'Josefin Sans';
    font-size: 1.3rem;
}


nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
}


nav ul li{
    display: flex;
    align-items: center;

}

nav a{
    color: var(--textcolor);
    font-weight: bold;
    margin-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 1.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.3s ease 0s;
}







/*Need DEBUG*/
  
.dropdown-content {
    display: none;
    position: absolute;
    right: 2rem;
    margin-top: 4rem;
    z-index: 202;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.show {
    display: block;
    opacity: 1;
}

#menu{
    position: fixed;
    right: 2rem;
    background: #584734;
    color: #fff;
    font-size: 1.7rem;
    padding: 1rem 1.3rem;
    z-index: 2000;
    display: none;
    margin-top: 0.65rem;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}







/*MAIN STARTS HERE*/

main{
    color: #000000;
}

.section{
    height: fit-content;
    min-height: 100vh;
    padding-top: 5rem;
}


/*Home Section Starts Here*/

.home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.home .left-part{
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.word{
    margin-right: 5vw;
}

.home h2{
    font-size: 2.3rem;
}

.home h1{
    font-size: 4.7rem;
}

.home h1 span{
    font-size: 4.9rem;
    text-decoration: underline;
}

.home p{
    font-size: 2rem;
    padding: 1rem 0;
}

.btn{
    padding: 0.7rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding-left: 1.2rem;
    font-size: 1.8rem;
}

.btn:hover{
    background-color: var(--shadow);
    cursor: pointer;
}

.home a{
    width: 282px;
}

.home img {
    width: 100%;
    max-width: 450px;
    object-fit: cover;
    border-radius: 10px;
    margin: 2vw 4vw;
}

.expHeading{
    font-family: 'Dosis', sans-serif;;
    text-align: center;
    font-size: 3rem;
    margin-top: 2.5rem;
}

/*Home Section Ends Here*/


/*About Section Starts Here*/

#about{
    background-color: var(--bgdcolor);
}

#about a{
    text-decoration: underline;
}

.about{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about > div{
    margin: 5rem 0;
}

.paragraph{
    width: 800px;
}

.paragraph p{
    text-indent: 2.5em;
    line-height: 1.5;
    font-size: 1.3rem;
}

.paragraph a{
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

.paragraph a:hover{
    color: inherit;
    background-color: var(--textshadow);
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.paragraph a:visited{
    font-style: italic;       /*Not working under current versions due to security*/  
    color: var(--visited);
}

.about img{
    width: 100%;
    max-width: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.about .balllink{
    display: none;    
}

.about .ballword{
    font: inherit;
    font-family: inherit;
    color: inherit;
}

.rewards{
    padding-bottom: 3rem;
    display: block;
    text-align: center;
}

.rewards > a{
    font: inherit;
    font-family: inherit;
    color: inherit;
}

/*About Section Ends Here*/


/*Experience Section Starts Here*/

#experience{
    background-color: var(--homecolor);
}

.boxContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 4.8% 8%;
}

.box{
    width: 29.3rem;
    height: fit-content;
    padding-left: 2rem;
    border-left: 0.17rem solid #8b8b8b;
    position: relative;
    margin: 2rem;
}

.box i{
    position: absolute;
    top: -0.1rem;
    left: -1.6rem;
    font-size: 2rem;
    height: 3rem;
    width: 3rem;
    line-height: 3.2rem;
    text-align: center;
    background-color: #cca77d;
    border-radius: 50%;
}

.box span{
    font-size: 1.7rem;
    font-family: 'Slackside One', 'sans serif';
}

.box h3{
    font-size: 1.9rem;
    padding: 0.6rem 0.4rem;
}

.box p{
    font-size: 1.5rem;
    font-family: Karla;
    padding-bottom: 0.4rem;
}

.box ul{
    padding-left: 1rem;
}

.box ul li{
    font-size: 1.3rem;
}

/*Experience Section Ends Here*/


/*Contact Section Starts Here*/

#contact{
    background-color: #e9e9e9; 
    padding: 0rem;
}

.toppadding{
    display: block;
    height: 5rem;
    background-color: #ffffff;
}

.contents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contents img{
    max-height: calc(100vh - 5rem);
    object-fit: contain;
    max-width: 100%;
}

.right-part{
    height: calc(100vh - 5rem);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contact-section{
    flex-grow: 1;
}

.contact-section h3{
    font-size: 3rem;
    font-family: 'Tsukimi Rounded', 'sans serif';
    text-align: center;
}

.contactinfo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-style: normal;
    margin-top: 2rem;
}

.contactinfo i{
    font-size: 1.7rem;
    padding-right: 1rem;
}

.email{
    font-size: 1.5rem;
    color: inherit;
    text-decoration: underline;
}

.school{
    display: inline-block;
    font-size: 1.5rem;
    color: inherit;
}

form{
    margin-top: 2.7rem;
    padding-left: 9%;
}

label{
    font-size: 1.5rem;
    display: block;
    margin-bottom: 13px;
}

input, textarea{
    display: block;
    margin: 9px 0 0 0;
    width: 90%;
    min-height: 2.3em;
    padding-left: 0.3rem;
    font-size: 1.2rem;
}

input[type='submit']:hover{
    cursor: pointer;
}

/*Contact Section Ends Here*/

/*MAIN ENDS HERE*/


.bottominfo{
    display: block;
    background-color: #ffffff;
    height: 2rem;
    text-align: center;
}

.bottominfo p{
    line-height: 2rem;
}



@media (max-width: 1635px){
    .contents{
        width: 100%;
    }
    .contents img{
        object-fit: cover;
        width: 100%;
    }
    .contact-section{
        margin-top: 2.5rem;
    }
}

@media (max-width: 1550px){
    #about .ball{
        display: none;
    }
    #about .balllink{
        display: inline;
    }
    #about .ballword{
        display: none;    
    }
}

@media (max-width: 1250px){
    nav ul{
        gap: 0.3rem;
    }
    #about div{
        margin: 2rem;
    }
    #about div p{
        font-size: 1.1rem;
    }
}

@media (max-width: 1000px) {
    #menu{
        display: block;
    }
    nav{
        display: none;
    }
    .home h2{
        font-size: calc(0.87 * 2.3rem);
    }
    .home h1{
        font-size: calc(0.87 * 4.7rem);
    }
    .home h1 div{
        font-size: calc(0.87 * 4.9rem);
    }
    .home p{
        font-size: calc(0.87 * 2rem);
    }
    .home a{
        width: calc(0.95 * 282px);
    }
    .btn{
        font-size: calc(0.87 * 2rem);
    }
    .btn i{
        font-size: calc(0.87 * 1.8rem);
    }
}

@media (max-width: 520px) {
    .word{
        margin-right: 0;
    }
    .home img{
        margin: 0;
    }
    #about div {
        margin: 1rem;
    }
}


/*CSS for PhotoGallery starts here*/

.heading{
    text-align: center;
    text-transform: uppercase;
    background-color: var(--barcolor);
    padding: 3rem;
    border-bottom: 4px solid var(--textshadow);
    margin-bottom: 0.5rem;
}

.heading h1{
    font-size: 2.3rem;
}

.gallery h4{
    font-family: 'Diphylleia', 'sans serif';
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
}

.gallery section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid grey;
}

.gallery section div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 600px;
    max-height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.gallery section div p{
    text-align: center;
    font-size: 1rem;
}

.gallery section:last-of-type{
    border-bottom: none;
}

.gallery section::after{
    content: "";
    width: 1500px;
}

/*CSS for PhotoGallery ends here*/
